#home{
    font-family: "Rajdhani";
    color: azure;
    text-align: center;
    padding-top: 20%;
}

#home h1{
    padding-bottom: 0%;
    font-size: 2.2em;
}

#home p{
    padding-top: 2;
    font-size: 1.2em;
    color: azure;
}

.sectionHomePage{
    font-size: 1.8em!important;
    color: azure;
    padding-top: 3%;
    text-align: left;
}
.paragraphAlignedToLeft{
    text-align: justify;
}