#stableDiffusion{
    text-align: center;
    font-family: "Rajdhani";
    color: azure;

}

#stableDiffusion p{
    padding-top: 1%;
    color: aliceblue;
    font-size: 1.2em;
}

#stableDiffusion h1{
    padding-top: 20%;
    color: aliceblue;
    font-size: 1.7em;
}


.paragraphAlignedToLeft{
    text-align: justify;
     color: aliceblue;
}